.post__container {
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    margin-left: -1px;
    margin-right: -1px;
    background-color: #fff;
    width: 600px;
    margin: 32px auto;
}

.post__container .post__avatar{
    padding: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #f5c3e8;
}

.post__container .post__avatar .avatar-img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
        

.post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #efefef;
}

.post__header--block-right {
    margin-left: 14px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.post__header--username a {
    color: #262626;
    font-weight: 600;
}

.post__header--more-option i.bx-dots-horizontal-rounded {
    font-size: 20px;
    cursor: pointer;
}

.post__image {
    background-color: #efefef;
    display: block;
    width: 100%;
    overflow: hidden;
}

.post__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.post__group-bottom {
    padding: 0 16px;
    margin-top: 4px; 
}


.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons .bx {
    font-size: 28px;
    color: #262626;
    padding: 8px;
    cursor: pointer;
}

.icons-left span:first-child {
    margin-left: -8px;
}

.icons-right span {
    transition: all 0.5s ease;
}

.icons-right span:hover {
    opacity: 0.8;
}

.post__interactive-info {
    margin-bottom: 8px;
}

.post__interactive-info a {
    font-weight: 600;
    color: #262626;
    font-size: 14px;
}

.post__caption {
    padding: 0 16px;
}

.user-name a {
    color: #262626;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
    font-size: 14px;
}

.caption {
    font-size: 14px;
    font-weight: 400;
    color: rgb(85, 85, 85);
}

.post__caption--time {
    font-size: 13px;
    color:purple;
    margin-bottom: 2.5px;
    margin-left: 350px;
    text-transform: uppercase;
    font-weight: 300;
}

.post__comment {
    margin-top: 4px;
    border-top: 1px solid #efefef;
    color: #8e8e8e;
    max-height: 56px;
    padding: 13px 0;
}

.post__comment form {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

.post__comment form input {
    width: 100%;
    height: 18px;
    padding: 9px;
    outline: none;
    border: none;
}

.btn-post-comment {
    background-color: transparent;
    color: #e780ce;
    font-weight: 600;
}

.pagination {
    margin: 0 auto;
    padding-bottom: 40px;
    width: fit-content;
    color: rgb(241, 135, 206);
}


.content-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    text-align: center;
    width: 720px;
}

.profile .cover img{
    width: 100%;
    border-radius: 12px;
}

.profile .avatar{
    text-align: center;
}

.profile .avatar img{ 
    border: solid 3px white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -75px;
    margin-bottom: 8px;
}

.profile .name { 
    font-size: 30px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.filter {
    width: 640px;
    text-align: end;
}